<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Номер лабы ФИО Название Лабы</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <img class="logo" src="/images/polytech_logo_main_RGB_ru.png" alt="Логотип" width="150" >
    </header>
    <main>
        <div class="menu-container">
            <h2>Результаты вычислений:</h2>
        </div>
        
    </main>
    <footer>
        <p>Тип верстки: <span id="layout-type">A</span></p>
        <p>Выполнил: Мыльников Никита</p>
    </footer>
</body>
</html>